html{
    background-image: linear-gradient(125deg,#614385, #516395);
    background-repeat:no-repeat;
    background-size:cover;
    height:100%;
    }

#jeux1 {
    display: none;
}

#jeux2 {
    display: none;
}

#jeux3 {
    display: none;
}

#jeux4 {
    display: none;
}

#jeux5 {
    display: none;
}

#jeux6 {
    display: none;
}
